.geographic-area
{
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

.gender.chart { height: 200px; }
.age.chart, .race.chart, .housing.chart, .income.chart, .education.chart { height: 250px; }

dl { margin-bottom: 50px;  }

.wide-header { display: none; }
h5 { display: none; }

dt
{
    font-size: 11px;
    font-weight: bold;
    color: #666;
    font-family: Palatino, Georgia, Times, serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 3px;
}


.labeled-pie-chart
{
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 150px;
    text-align: left;
    width: 450px;
}
    
    .labeled-pie-chart h4,
    .labeled-pie-chart ol
    {
        left: 300px;
        width: 300px;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    
    .labeled-pie-chart h4
    {
        top: 0px;
        padding-left: 1em;
    }
    
    .labeled-pie-chart ol
    {
        top: 50px;
    }
    
    .labeled-pie-chart ol li
    {
        font-family: verdana, Helvetica, Arial, sans-serif;
        margin: 0;
        width: 290px;
        padding: 0 0 0 10px;
        text-align: left;
        font-size: .8em;
        color: #666;
    }
    
    .labeled-pie-chart ol li.active
    {
        color: #333;
        background-color: #ffc;
    }
